@import '../../GlobalStyles/mixin.scss';
.user-message ~ .user-message{
    margin-top: 20px;
    &:first-child {
        margin-top: 0; 
    }
}
// .message-select-icons{
//     &:hover ~ .emoji-list{
//         display: flex;
//     }
// }
.emoji-list{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: -2.5rem;
    left: -100px;
    padding: 5px 10px;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background-color: white;
    gap: 15px;
    button{
        font-size: 5rem;
        &:active {
            transform: translateY(0) scale(0.90);
            background-color: #e0e0e0;
            box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
        }
    }
    &::before {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 50%;
        // background-color: red;
        transform: translateX(-50%);
        filter: drop-shadow(5px 0 5px rgba(0, 0, 0, 0.3));
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid white;
    }
}
.user-message{
    display: flex;
    align-items: end;
    position: relative;
    justify-content: flex-start;
    animation: slide-up 0.2s ease-in-out;

    @keyframes slide-up { 
        0% {
            transform: translateY(20px); 
        }
        100% {
            transform: translateY(0); 
        }
    }

    .message{
        margin-top: 0;
        z-index: 1;
        display: inline-block;
        max-width: 50%;
        text-align: start;
        font-size: 1rem;
        .list-icon-in-message{
            right: 15px;
            position: absolute;
            bottom: -10px;
            justify-content: space-between;
            display: flex;
            z-index: 2;
            div{
                width: 10px;
                span{
                    font-size: 0.9rem;
                    width: 18px;
                    height: 18px;
                    text-align: center;
                    background-color: white;
                    // border: 1px solid #cdcdcd;
                    display: flex;
                    justify-content: center;
                    border-radius: 50%;
                    align-items: center;
                    padding-top: 0px;
                    padding-left: 3px;
                    padding-right: 3px;
                }
            }
        }
        
        .message-content{
            position: relative;
            .message-content-show{
                // margin-top: 5px;
                padding: 5px 20px;
                border-radius: 5px;
                display: inline-block;
                background: var(--bg-color);
            }
            .list-images{
                z-index: 2;
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                max-width: 400px;
                gap: 5px;
                img{
                    height: 100%;
                    width: auto;
                    object-fit: cover;
                }
            }
        }

        &:hover{
            .message-settings{
                display: flex;
            }
        }
    }
    .avatar{
        width: 2.5rem;
        height: 2.5rem;
        margin: 0 10px;
        img{
            border-radius: 50%;
            @include image;
        }
    }
    .reply{
        position: absolute;
        font-size: 1rem;
        z-index: 1;
        box-shadow: 0 0 5px 3px rgba(0, 0,0 ,0.1);
        top: -30px;
        left: 4rem;
        padding: 5px 20px;
        padding-bottom: 18px ;
        border-radius: 5px;
        background-color: #f9f7f7;
    }
    .message-settings{
        position: absolute;
        display: none;
        top: 50%;
        transform: translateY(-50%);
        right: -5rem;
        // &:hover {
        //     display: flex;
        // }
        button{
            border-radius: 50%;
            border: none;
            background-color: transparent;
            color: black;
            font-size: 1rem;
            &:hover{
                background-color: var(--bg-color-light);
            }
        }
        &::after,
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 15px;
            height: 100%;
            background-color: transparent;
        }
        &::after {
            left: -16px;
        }
        &::before {
            right: -16px;
        }
    }
    &.reply-success{
        margin-top: 70px;
    }
    &.flex-row-reverse {
        padding: 0;
        .column{
            padding: 0 !important;  
        }
        justify-content: end !important;
        .message{
            text-align: end;
            .message-content{
                .message-content-show{
                    color: #fff;
                    background-color: var(--main-color);
                }
                .list-images{
                    justify-content: flex-end;
                }
            }
            
        }
        .message-settings{
            left: -5rem;
            right: auto;
            ul{
                flex-direction: row-reverse;
            }
        }
        .reply{
            position: absolute;
            font-size: 1rem;
            z-index: 0;
            box-shadow: 0 0 5px 3px rgba(0, 0,0 ,0.1);
            top: -35px;
            color: dark;
            left: auto;
            right: 0;
            padding: 5px 20px;
            padding-bottom: 18px ;
            border-radius: 5px;
            background-color: #f9f7f7;
        }
    }
}
.user-sends{
    display: flex;
    justify-content: flex-end;
    padding-right: 0px;
    border-radius: 50%;
    .user-send{
        img{
            width: 1.2rem;
            height: 1.2rem;
            border: 1px solid #cdcdcd;
            border-radius: 50%;
        }
    }
}
.currentEmoji{
    background-color: var(--main-color) !important;
}
// .message-settings:hover ~ .emoji-list,
// .emoji-list:hover,
// .emoji-list:active {
//     display: flex;
// }

// .emoji-list:active {
//     display: none;
// }