.friend-requests {
  padding: 20px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    h2 {
      font-size: 20px;
      font-weight: bold;
      margin: 0;
      color: black;
    }
  }

  .request-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
  }

  .request-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 210px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    padding: 0;
    padding-bottom: 10px;

    .avatar-link,
    .name-link {
      text-decoration: none;
      color: inherit;
    }

    .avatar {
      width: 100%;
      height: 210px;
      object-fit: cover;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }

    .info {
      text-align: center;
      margin-top: 10px;

      .avatar-link:hover,
      .name-link:hover {
        opacity: 1;
        text-decoration: underline;
      }

      h3 {
        margin: 5px 0;
        font-size: 16px;
      }

      p {
        color: #666;
        font-size: 14px;
      }
    }

    .actions {
      display: flex;
      flex-direction: column;
      align-items: center;
      /* Căn giữa nội dung */
      gap: 10px;
      margin-top: 10px;
      width: 100%;
      /* Ensure buttons take up full width of the card */

      button {
        width: 90%;
        /* Căn chỉnh với chiều rộng 90% */
        padding: 5px 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;

        &.accept {
          background-color: #007bff;
          color: #fff;

          &.loading {
            opacity: 0.5;
          }

          &.added,
          &.adding,
          &.accepting,
          &.accepted,
          &.accepted {
            background-color: #007bff91;
            color: #fff;
            pointer-events: none;
          }
        }

        &.decline {
          background-color: #ccc;

          &.disabled {
            display: none;
          }

          &.removing,
          &.removed,
          &.unfriending,
          &.unfriended &.decline-rejected {
            margin-top: 45px;
            background-color: #cccccc78;
            pointer-events: none;
          }
        }
      }
    }
  }
}