#content{
  margin-top: calc(100vh - 60px);
}
/* Cấu trúc phần tử .tt */
.tt {
  font-size: 19px;
  font-weight: 500;
  background-color: #0065E0;
  width: 90px;
  height: 40px;
  border-radius: 10px;
  line-height: 200%;
}

.tt a {
  font-size: 18px;
  margin-left: 5px;
}

.tt a:hover {
  color: #000;
}

/* Cấu trúc phần tử .cha */
.cha {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 75px;
  z-index: 2;
  background-color: #0065E0;
  width: 99px;
  height: 39px;
  line-height: 150%;
  border-radius: 10px;
  margin-left: 30px;
}

.cha a {
  text-decoration: none;
  color: #fffbfb;
  font-size: 18px;
  margin-left: 10px;
  line-height: 40px;
}

.cha a:hover {
  color: #000000;
}

/* Cấu trúc phần tử show-all-button */
.show-all-button {
  position: relative;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  margin-left: 250px;
}

.col-md-10 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) 27px var(--padding-4xs);
  background-color: var(--color-gainsboro-100);
  flex: 1;
  border-radius: 10px;
  align-items: flex-start;
  margin-top: 30px;
}

.col-md-10:hover {
  background-color: #bfbfbf;
}

/* Cấu trúc show-all-button-wrapper */
.show-all-button-wrapper {
  width: 500px;
  flex-direction: row;
  justify-content: flex-start;
}

.footer,
.show-all-button-wrapper {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}

/* Cấu trúc phần tử .rectangle-parent */
.rectangle-parent {
  margin-bottom: 20px;
  height: 400px; /* Chiều cao của phần tử */
  max-height: 100%; /* Cho phép nội dung mở rộng tối đa */
  width: 760px;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  flex-direction: column;
  justify-content: flex-start;
  padding: 51px 0 84px 37px;
  position: relative;
  gap: 20px;
  text-align: left;
  font-size: 24px;
  color: var(--color-black);
  overflow-y: auto; /* Cho phép cuộn dọc */
  overflow-x: hidden; /* Ẩn cuộn ngang nếu không cần */
}

/* Kiểm tra cấu trúc alert */
.alert .col-md-3 {
  background-color: #E5E5E5;
}

.alert .row .col-md-6 {
  margin-bottom: 20px;
  height: auto;
  background-color: var(--color-white);
  padding-left: 30px;
  position: relative;
  gap: 20px;
  text-align: left;
  padding-top: 30px;
  color: var(--color-black);
}

.col-md-12 .d-flex:hover {
  background-color: #dad9d9;
  border-radius: 10px;
}

.col-md-12 .d-flex {
  margin-top: 3px;
}

/* Cấu trúc phần tử a trong span */
span a {
  font-size: 18px;
}
