.container-tk{
  width: 70%;
}
.blue {
  background-color: #007bff; /* Bootstrap primary color */
  width: 20px;
  height: 20px;
  border-radius: 180px ;
  border: 1px solid #007bff;
}

.orange {
  background-color: #fd7e14;
  width: 20px;
  height: 20px;
  border-radius: 180px ; /* Bootstrap warning color */
}

.green {
  background-color: #28a745;
  width: 20px;
  height: 20px;
  border-radius: 180px ; /* Bootstrap success color */
}

// // .sidebar {
// //   width: 250px; /* Width of the sidebar */
// //   height: 100vh; /* Full height */
// //   background-color: #f8f9fa; /* Light background color */
// //   padding: 20px; /* Padding around the content */
// //   box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Optional shadow */
// // }

// .indicator {
//   width: 20px; /* Width of the indicator */
//   height: 20px; /* Height of the indicator */
//   border-radius: 50%; /* Make it circular */
//   display: inline-block; /* Align indicators */
//   margin-bottom: 10px; /* Space below the indicator */
// }


// .bi {
//   display: inline-block;
//   width: 1rem;
//   height: 1rem;
// }

// /*
//  * Sidebar
//  */

// @media (min-width: 768px) {
//   .sidebar .offcanvas-lg {
//     position: -webkit-sticky;
//     position: sticky;
//     top: 48px;
//   }
//   .navbar-search {
//     display: block;
//   }
// }

// .sidebar .nav-link {
//   font-size: .875rem;
//   font-weight: 500;
// }

// .sidebar .nav-link.active {
//   color: #2470dc;
// }

// .sidebar-heading {
//   font-size: .75rem;
// }

// /*
//  * Navbar
//  */

// .navbar-brand {
//   padding-top: .75rem;
//   padding-bottom: .75rem;
//   background-color: rgba(0, 0, 0, .25);
//   box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
// }

// .navbar .form-control {
//   padding: .75rem 1rem;
// }

// // ipad
// // @media screen and (min-width: 1024px) and  (max-width: 1366px){
// //   .sidebar .nav-link {
// //     font-size: .9rem; /* Tăng kích thước chữ cho nav-link */
// // }

// // .sidebar-heading {
// //     font-size: .85rem; /* Tăng kích thước chữ cho heading */
// // }

// // .navbar-brand {
// //     padding-top: 1rem; /* Tăng khoảng đệm cho navbar-brand */
// //     padding-bottom: 1rem;
// // }

// // .navbar .form-control {
// //     padding: .5rem 1rem; /* Giảm khoảng đệm cho form-control */
// // }
// //}

// // tablet
// // @media screen and (min-width: 767px) and  (max-width: 1023px){
// // .sidebar .nav-link {
// //   font-size: .9rem; /* Tăng kích thước chữ cho nav-link */
// // }

// // .sidebar-heading {
// //   font-size: .85rem; /* Tăng kích thước chữ cho heading */
// // }

// // .navbar-brand {
// //   padding-top: 1rem; /* Tăng khoảng đệm cho navbar-brand */
// //   padding-bottom: 1rem;
// // }

// // .navbar .form-control {
// //   padding: .5rem 0.75rem; /* Giảm khoảng đệm cho form-control */
// // }
// // }

// //smart phone
// // @media screen and (min-width: 472px) and (max-width: 766px){
// //   .sidebar .nav-link {
// //     font-size: .8rem; /* Giảm kích thước chữ cho nav-link */
// // }

// // .sidebar-heading {
// //     font-size: .7rem; /* Giảm kích thước chữ cho heading */
// // }

// // .navbar-brand {
// //     padding-top: .5rem; /* Giảm khoảng đệm cho navbar-brand */
// //     padding-bottom: .5rem;
// // }

// // .navbar .form-control {
// //     padding: .5rem 0.75rem; /* Giảm khoảng đệm cho form-control */
// // }
// // }

// // @media screen and (min-width: 377px) and (max-width: 471px){
// //   .sidebar .nav-link {
// //     font-size: .875rem;
// //     font-weight: 500;
// //   }
  
// //   .sidebar .nav-link.active {
// //     color: #2470dc;
// //   }
  
// //   .sidebar-heading {
// //     font-size: .75rem;
// //   }
  
// //   /*
// //    * Navbar
// //    */
  
// //   .navbar-brand {
// //     padding-top: .75rem;
// //     padding-bottom: .75rem;
// //     background-color: rgba(0, 0, 0, .25);
// //     box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
// //   }
  
// //   .navbar .form-control {
// //     padding: .75rem 1rem;
// //   }
// // }